<!DOCTYPE html>
<html lang="en" align="center">
<head>
    <title>레시피 추천</title>
    <style>

        table th {
            font-weight: normal; }

        table td {
            border-bottom:solid 1px #f8f8f8;
        }

        table > thead > tr > th,
        table > tbody > tr > th,
        table > tfoot > tr > th,
        table > thead > tr > td,
        table > tbody > tr > td,
        table > tfoot > tr > td {
            padding: 5px; 
            border: 1px solid #000000;
        }

        table thead tr th {
            font-size: 15px;
            color: #121212;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 0.05em;
            background: #aaaaaa;
            text-align: center;
        }
        text, a  {
            font-size: 20px;
            font : "CJ ONLYONE NEW 제목 OTF";
            color: #121212;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 0.05em;
            text-align: center;
        }
        h5 {
            font-size: 15px;
            font : "CJ ONLYONE NEW 제목";
            color: #121212;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 0.05em;
            text-align: left;
        }
    </style>
          <nav>
            <a href="/"><img src="img/food.png" style="width:80px;height:80px;"></a>
            <a href="/recipe"><img src="img/recipe.png" style="width:80px;height:80px;"></a>
          </nav>
</head>
<body>
    <div class = 'page-header'>
        <img src="img/title.jpg">
        <FONT SIZE=4 FACE="CJ ONLYONE NEW 제목 OTF"><B>레시피 추천 API</text>
        <hr/>
    </div>
    </div> 
    <FONT SIZE=6 FACE="CJ ONLYONE NEW 제목 OTF"><B>추천받을 레시피의 내용을 입력해주세요.</text>
    </div>
    <form action = "/recipe" method = "POST">
        <p><h5><text>[제품명]</text>
        <br/><input type = "text" name = "productName" /> <br/>
        <!-- &nbsp컨셉: <input type = "text" name = "productConcept" /> -->

        <br/><br/><text>[컨셉]</text>
        <br/> 
        <text>청년층</text><input type = "checkbox" name = "productConcept[]" value="청년층" />  
        <text>노년층</text><input type = "checkbox" name = "productConcept[]" value="노년층" /> 
        <text>아침식사</text><input type = "checkbox" name = "productConcept[]" value="아침식사" />  
        <text>야식</text><input type = "checkbox" name = "productConcept[]" value="야식" /> 
        <text>다이어트</text><input type = "checkbox" name = "productConcept[]" value="다이어트" /> 
        <br/><text>한국</text><input type = "checkbox" name = "productConcept[]" value="한국" />  
        <text>일본</text><input type = "checkbox" name = "productConcept[]" value="일본" /> 
        <text>프랑스</text><input type = "checkbox" name = "productConcept" value="프랑스" /> 
        <text>비건</text><input type = "checkbox" name = "productConcept[]" value="비건" />  
        <text>파티</text><input type = "checkbox" name = "productConcept[]" value="파티" />

        <br/><br/><text>[식재료]</text>
        <br/> 
        <text>당근<input type = "checkbox" name = "ingredientName[]" value="당근" /> 
        <text>양파<input type = "checkbox" name = "ingredientName[]" value="양파" /> 
        <text>돼지고기<input type = "checkbox" name = "ingredientName[]" value="돼지고기" />
        <text>소고기<input type = "checkbox" name = "ingredientName[]" value="소고기" /> 
        <text>비건<input type = "checkbox" name = "ingredientName[]" value="비건" /> 
        <text>새우<input type = "checkbox" name = "ingredientName[]" value="새우" /> 
        <text>멸치<input type = "checkbox" name = "ingredientName[]" value="멸치" /> 
        <text>다시마<input type = "checkbox" name = "ingredientName[]" value="다시마" /> 
        <text>표고버섯<input type = "checkbox" name = "ingredientName[]" value="표고버섯" />
        <br/><text>팽이버섯<input type = "checkbox" name = "ingredientName[]" value="팽이버섯" />
        <text>후추<input type = "checkbox" name = "ingredientName[]" value="후추" />  
        <text>마늘<input type = "checkbox" name = "ingredientName[]" value="마늘" />  
        <text>깻잎<input type = "checkbox" name = "ingredientName[]" value="깻잎" />  
        <text>고추<input type = "checkbox" name = "ingredientName[]" value="고추" />  
        <text>생강<input type = "checkbox" name = "ingredientName[]" value="생강" />  
        <text>바질<input type = "checkbox" name = "ingredientName[]" value="바질" />  
        <text>스파게티면<input type = "checkbox" name = "ingredientName[]" value="스파게티면" />  
        <text>쌀국수<input type = "checkbox" name = "ingredientName[]" value="쌀국수" />  
        
<!--         
        <br/><br/><text>[식재료]</text>
            <br/> 
           
            새우<input type = "checkbox" name = "ingredientName[]" value="새우" />  
            멸치<input type = "checkbox" name = "ingredientName[]" value="멸치" />
            다시마<input type = "checkbox" name = "ingredientName[]" value="다시마" /> 
            표고버섯<input type = "checkbox" name = "ingredientName[]" value="표고버섯" />  
            팽이버섯<input type = "checkbox" name = "ingredientName[]" value="팽이버섯" /> 
            후추<input type = "checkbox" name = "ingredientName[]" value="후추" />  
            마늘<input type = "checkbox" name = "ingredientName[]" value="마늘" /> 
            깻잎<input type = "checkbox" name = "ingredientName[]" value="깻잎" />  
            고추<input type = "checkbox" name = "ingredientName[]" value="고추" />
            생강<input type = "checkbox" name = "ingredientName[]" value="생강" />  
            바질<input type = "checkbox" name = "ingredientName[]" value="바질" />  
            스파게티면<input type = "checkbox" name = "ingredientName[]" value="스파게티면" />  
            쌀국수<input type = "checkbox" name = "ingredientName[]" value="쌀국수" /> -->

        <br/><br/><text>[추천 갯수] </text>
        <br/>
        <select name="productTopN" style="width:100px;height:50px;">
            <option value="1">1개</option>
            <option value="2">2개</option>
            <option value="3">3개</option>
            <option value="4">4개</option>
            <option value="5">5개</option>
        </select>
        &nbsp&nbsp <input type = "image" value = "submit" src="img/search.jpg"/></h5></p>
     </form>

     <div>
        <p>
            {% if productName is not defined %}
                <h5> 아직 아무 값도 입력이 안되었습니다. </h5>
            {% else %}
                <h5> {{productName}}, {{ingredientName}}, {{productConcept}}, {{productTopN}} 을 입력받았습니다. </h5>
                {% if jsonArray == None %}
                    <h5>결과값이 존재하지 않습니다</h5>
                {% else %}
                    <h5>json전문 {{ content }}입니다.</h5>
                    <table>
                        
                        {% for arr in jsonArray %}
                            <tr style="background: #aaaaaa;text-align: center;">
                                <th><h5 style="text-align: center;">{{ arr["recipe"] }}</h5></th>
                                {% if arr["relatedProduct"] == [] %}
                                    <th></th>
                                    {% else %}
                                        {% for rp in arr["relatedProduct"] %}
                                            <th><h5 style="text-align: center;">{{ rp["product"] }}</h5></th>
                                        {% endfor %}
                                    {% endif %}
                                </tr>
                                <tr>
                                    <th><h5>{{ arr["recipeDetail"] }}</h5></th>
                                    {% if arr["relatedProduct"] == [] %}
                                    <th><h5 style="text-align: center;">N/A</h5></th>
                                    {% else %}
                                        {% for rp in arr["relatedProduct"] %}
                                                <th><img src ="{{ 'http://'+ rp["imgurl"] }}"></th>                                
                                        {% endfor %}
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>                             
                {% endif %}
            {% endif %}
        </p>
    </div>
</body>
</html>
